body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-register {
  width: 400px;
  background: #627c72;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-register h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  font-family: 'calibri';
  font-size: 18px;
  color: #333;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'calibri';
  font-size: 18px;
  color: #333;
}

.botons {
  width: 100%;
  background: #000000;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#physical_person,
#company {
  display: none;
}

/* Estilos adicionales según tus necesidades */
