/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/fondo_4.jpg") fixed no-repeat;
    background-size: cover;
}

/* Estilos para el encabezado de navegación */
nav {
    background: #627c72;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: static;
    top: 0;
    z-index: 1000;
}

.sesion button {
    background: #fff;
    color: #333;
    border: none;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 3rem;
    margin-right: 0.625rem;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}

.enlaces {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.enlaces li {
    display: inline;
    margin-right: 1.25rem;
}

.enlaces a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.enlaces a:hover {
    color: #000;
}

.enlaces a img {
    max-width: 2.5rem;
    vertical-align: middle;
}

button {
    font-weight: bold;
}

.botones button {
    background: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #323f3a;
    color: #fff;
}

/* Estilos para el contenido principal */
.contenido {
    padding: 2rem;
}

main {
    background: #fff;
    opacity: 0.75;
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main p {
    font-size: 1.2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #323f3a;
}

/* Estilos responsivos */
@media (min-width: 991px) {
    .navbar-nav li {
        padding: 55px;
    }
}

@media (min-width: 576px) {
    .container-fluid {
        width: 92vw;
    }
}

@media (max-width: 576px) {
    #img-logo {
        max-height: 38px;
    }
}

/* Barras de desplazamiento */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #4b7e2d;
    border-radius: 10px;
}

#izquierda {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.descripcion {
    background-color: #5f8375;
    border: 1px solid #5a5959;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.descripcion h2 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.descripcion p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.descripcion a {
    color: #f8c10f;
    text-decoration: none;
    font-weight: bold;
}

.descripcion a:hover {
    text-decoration: underline;
}

#carouselExampleIndicators {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner img {
    border-radius: 8px;
    /* Añade bordes redondeados a las imágenes */
}

/* Estilos para el botón submit */
.carousel-item .btn-primary {
    margin-top: 10px;
    /* Espaciado superior */
    background-color: #4CAF50;
    /* Color de fondo verde */
    color: #fff;
    /* Color del texto blanco */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Ajusta el padding según sea necesario */
    border-radius: 5px;
    /* Añade bordes redondeados al botón */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

.carousel-item .btn-primary:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar sobre el botón */
}

header,
.alert {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover {
    height: 80px;
}

.carrito {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos {
    display: flex;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

/* Fondo oscuro detrás de la ventana modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* Asegura que la modal esté en la parte superior */
}

/* Estilos para la ventana modal */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Estilos para el formulario dentro de la ventana modal */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5f8375;
    /* Verde más oscuro */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    /* Cambio de color al pasar el ratón */
}

/* Agrega otros estilos según tus preferencias */

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #ffffff;
    /* Color del icono */
    border: none;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.close-button:hover {
    background-color: #e40808;
    /* Cambio de color al pasar el ratón */
}

/* footer.css */

footer {
    background-color: #40524b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo_redes_sociales img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#carritoItem {
    display: none;
  }