/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Establece la altura del cuerpo al 100% de la ventana del navegador */
    background-image: url("/img/fondo_4.jpg");
    /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen de fondo local */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* Estilos para la barra de navegación */
nav {
    background-color: #627c72;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed; /* Hace que la barra de navegación sea estática */
    top: 0; /* Fija el elemento en la parte superior del contenedor */
    z-index: 1000; /* Asegura que el elemento esté sobre otros elementos */
}

.sesion button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.logo {
    display: flex;
    /* Utiliza flexbox para alinear verticalmente los elementos */
    align-items: center;
    /* Alinea verticalmente los elementos en el centro */
}

.logo img {
    max-width: 3rem;
    margin-right: 0.625rem;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}

.enlaces {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Empuja la lista de enlaces hacia la derecha */
    margin-left: auto;
}

.enlaces li {
    display: inline;
    margin-right: 1.25rem;
}

.enlaces a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover{
    color: #000000;
}

.enlaces a img {
    max-width: 2.5rem;
    /* Ajusta el tamaño de los iconos según tus necesidades */
    vertical-align: middle;
    /* Centra los iconos verticalmente */
}

button{
    font-weight: bold;
}

.botones button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #323f3a;
    color: #ffffff;
}

/* Estilos para el contenido principal */
.contenido {
    padding: 2rem;
}

/* Establece el estilo del elemento <main> */
main {
    background-color: #fff;
    /* Fondo blanco */
    opacity: 0.75;
    /* Este valor significa que el elemento será 50% transparente */
    padding: 20px;
    /* Espacio de relleno para el contenido */
    box-sizing: border-box;
    /* Incluye el espacio de relleno en el ancho total */
    width: 50%;
    /* Ocupa el 50% del ancho del cuerpo */
    display: flex; /* Usa flexbox para ajustar la altura automáticamente */
    flex-direction: column; /* Alinea los elementos internos verticalmente */
    min-height: 100vh; /* Ajusta la altura al 100% de la altura de la pantalla como mínimo */
}

/* Establece el estilo del contenido de texto en <main> */
main p {
    font-size: 1.2rem;
    text-align: center;
    /* Centra el texto horizontalmente */
}

/*body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background: rgb(62, 150, 106);
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav-cont-1 {
    background: blue;
    display: flex;
    margin: 0%;
    padding: 0%;
    flex: 1;
}

.cont-1 {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    align-self: center;
    flex: 2;
}

img#logo{
    width: 34px;
}

div.nav-cont-2 {
    background: green;
    display: flex;
    margin: 0%;
    padding: 0%;
    flex: 1;
}

a.cont-2{
    align-self: center;
    flex: 5;
}

img#icono{
    width: 18px;
}

div.nav-cont-3 {
    background: yellow;
    display: flex;
    margin: 0%;
    padding: 0%;
    flex: 1;
}

a.cont-3{
    align-self: center;
    flex: 2;
}

a {
    text-decoration: none;
    color: black;
}*/